body {
    margin: 0px;
    /*font-family:  'Win95, Space Mono, Arial', Win95, monospace;*/
    font-family: plex ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font: Win95, monospace;
}
* {
    transition-duration: .2s;
}
#desk {
    background-image: url(imgs/repeatable-background.png);
    background-color: #22144a;
    background-size: 80px;
    background-attachment: fixed;
    background-position: center;
    background-origin: content-box;
}